body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rebeccapurple;
    font-family: cursive;
}

.form {
    /* width: 70%;
    height: 55vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#17171770;
        padding: 20px;
    box-shadow: 0 1px 50px rgba(255,255,255,0.1);
    color: orangered;
    border-radius: 10px;
    margin: 15px;

}

#question{
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: solid 4px orangered ;
    
}

.input::placeholder{
    color: lightcoral;
    font-family: cursive;
}

.btn{
    background-color: orangered;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.8);
}

.btn:hover{
    background-color: red;
}

.score{
    color: white;
    text-align: right;
}